// Colors
$color-white: #ffffff;
$color-blue: #28adbb;
$color-black: #000000;
$color-night: #1d1d1d;
$color-storm: #6D717A;
$color-silver: #E0E2E6;
$color-whitelilac: #F6F6F7;
$color-error: #FC3B60;

// Spacing
$sp1: 4px;
$sp2: 8px;
$sp3: 12px;
$sp4: 16px;
$sp5: 20px;
$sp6: 24px;
$sp7: 28px;
$sp8: 32px;
