<div class="welcome-page">
  <p>
    This is a simple Ember app to cover requirements for the Peek dev test. Please click on the button to go to the
    events
    page
  </p>

  <div class="p-top-16px">
    <SmButton
      @label="Go to Events!"
      @linkTo='events'
    />
  </div>
</div>